* {
    box-sizing: border-box;
}

/*  Mengatur body  */
body {
    font-family: Arial;
    margin: 0;
    background: #038ade;
}

/*  Desain Container  */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Login Box */
.login-box {
    margin-top: 150px;
    flex-basis: 400px;
    background: #fff;
    padding: 20px;
}

/* Judul Login */
.login-box h2 {
    border-bottom: 1px solid #ccc;
    color: #555;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 0 20px;
}

Form input,
select {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

input[type=submit] {
    background-color: #038ade;
    border: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Layout */
header {
    background: #038ade;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
}

aside {
    flex: 20%;
    background: #222;
}

section.main {
    flex: 80%;
    background: #fff;
    min-height: 530px;
    padding: 15px 20px;
}

footer {
    background: #ccc;
    color: #555;
    padding: 20px;
    text-align: center;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}